body {
    margin: 0;
    min-height: 100vh;
    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    padding: 5px;
    background-color: #91c8ff;
}

main {
    grid-area: main;
    padding: 5px;
    background-color: #7da9d5;
}

aside {
    grid-area: aside;
    padding: 5px;
    background-color: #007fff;
}

footer {
    grid-area: footer;
    padding: 5px;
    background-color: #588ec3;
}
